In [65]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from pandasql import sqldf

df_article = pd.read_csv('articles.csv')
df_article

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [66]:
df_article.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [67]:
df_art = df_article

df_art.drop(['product_code', 'prod_name', 'product_type_no',
       'graphical_appearance_no', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'section_no', 'garment_group_no', 'detail_desc'], inplace=True, axis=1)

df_art

,article_id,product_type_name,product_group_name,graphical_appearance_name,perceived_colour_value_name,index_group_name,section_name,garment_group_name
0,108775015,Vest top,Garment Upper body,Solid,Dark,Ladieswear,Womens Everyday Basics,Jersey Basic
1,108775044,Vest top,Garment Upper body,Solid,Light,Ladieswear,Womens Everyday Basics,Jersey Basic
2,108775051,Vest top,Garment Upper body,Stripe,Dusty Light,Ladieswear,Womens Everyday Basics,Jersey Basic
3,110065001,Bra,Underwear,Solid,Dark,Ladieswear,Womens Lingerie,"Under-, Nightwear"
4,110065002,Bra,Underwear,Solid,Light,Ladieswear,Womens Lingerie,"Under-, Nightwear"
...,...,...,...,...,...,...,...,...
105537,953450001,Socks,Socks & Tights,Placement print,Dark,Menswear,Men Underwear,Socks and Tights
105538,953763001,Vest top,Garment Upper body,Solid,Dark,Ladieswear,H&M+,Jersey Fancy
105539,956217002,Dress,Garment Full body,Solid,Dark,Ladieswear,Womens Trend,Jersey Fancy
105540,957375001,Hair clip,Accessories,Solid,Dark,Divided,Divided Accessories,Accessories
105541,959461001,Dress,Garment Full body,Solid,Dusty Light,Ladieswear,Womens Trend,Jersey Fancy

In [68]:
df_art['graphical_appearance_name'].value_counts()

Solid                  49747
All over pattern       17165
Melange                 5938
Stripe                  4990
Denim                   4842
Front print             3215
Placement print         3098
Check                   2178
Colour blocking         1830
Lace                    1513
Other structure         1502
Application/3D          1341
Embroidery              1165
Mixed solid/pattern     1132
Glittering/Metallic      958
Jacquard                 830
Sequin                   806
Dot                      681
Treatment                586
Other pattern            515
Contrast                 376
Metallic                 346
Chambray                 322
Slub                     153
Mesh                      86
Transparent               86
Neps                      66
Unknown                   52
Argyle                    15
Hologram                   8
Name: graphical_appearance_name, dtype: int64

In [69]:
df_art['product_group_name'].value_counts()

Garment Upper body       42741
Garment Lower body       19812
Garment Full body        13292
Accessories              11158
Underwear                 5490
Shoes                     5283
Swimwear                  3127
Socks & Tights            2442
Nightwear                 1899
Unknown                    121
Underwear/nightwear         54
Cosmetic                    49
Bags                        25
Items                       17
Furniture                   13
Garment and Shoe care        9
Stationery                   5
Interior textile             3
Fun                          2
Name: product_group_name, dtype: int64

In [70]:
df_art['section_name'].value_counts()

Womens Everyday Collection        7295
Divided Collection                7124
Baby Essentials & Complements     4932
Kids Girl                         4469
Young Girl                        3899
Womens Lingerie                   3598
Girls Underwear & Basics          3490
Womens Tailoring                  3376
Kids Boy                          3328
Womens Small accessories          3270
Womens Casual                     2725
Kids Outerwear                    2665
Womens Trend                      2622
Divided Projects                  2364
Young Boy                         2352
H&M+                              2337
Men Underwear                     2322
Mama                              2266
Kids & Baby Shoes                 2142
Boys Underwear & Basics           2034
Womens Shoes                      2026
Ladies H&M Sport                  1894
Womens Swimwear, beachwear        1839
Contemporary Smart                1778
Baby Girl                         1760
Divided Accessories               1732
Kids Accessories, Swimwear & D    1731
Divided Basics                    1723
Baby Boy                          1717
Womens Big accessories            1665
Womens Everyday Basics            1581
Womens Nightwear, Socks & Tigh    1566
Contemporary Casual               1560
Contemporary Street               1490
Men Suits & Tailoring             1428
Men Accessories                   1337
Womens Premium                    1270
Ladies Denim                      1101
Divided Selected                   991
Men H&M Sport                      872
Womens Jackets                     829
Special Collections                682
Men Shoes                          645
Mens Outerwear                     629
Kids Sports                        626
Collaborations                     559
Denim Men                          521
Men Edition                        330
Men Project                        298
Divided Asia keys                  280
Kids Local Relevance               192
Men Other 2                        190
Divided Complements Other           35
EQ Divided                          26
Men Other                           25
Ladies Other                         4
Name: section_name, dtype: int64

In [71]:
df_art['garment_group_name'].value_counts()

Jersey Fancy                     21445
Accessories                      11519
Jersey Basic                      8126
Knitwear                          7490
Under-, Nightwear                 7441
Trousers                          6727
Blouses                           5838
Shoes                             5145
Dresses Ladies                    4874
Outdoor                           4501
Unknown                           3873
Trousers Denim                    3100
Swimwear                          2787
Socks and Tights                  2272
Shirts                            2116
Woven/Jersey/Knitted mix Baby     1965
Shorts                            1559
Dresses/Skirts girls              1541
Skirts                            1254
Special Offers                    1061
Dressed                            908
Name: garment_group_name, dtype: int64

In [72]:
df_art['product_type_name'].value_counts().iloc[:20]

Trousers            11169
Dress               10362
Sweater              9302
T-shirt              7904
Top                  4155
Blouse               3979
Jacket               3940
Shorts               3939
Shirt                3405
Vest top             2991
Underwear bottom     2748
Skirt                2696
Hoodie               2356
Bra                  2212
Socks                1889
Leggings/Tights      1878
Sneakers             1621
Cardigan             1550
Hat/beanie           1349
Garment Set          1320
Name: product_type_name, dtype: int64

In [73]:
temp = df_art['graphical_appearance_name'].value_counts() <= 2000
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_graphical_appearance"] = df_art["graphical_appearance_name"].apply(lambda x : 'other' if x in mask else x)

In [74]:
df_art['modified_graphical_appearance'].value_counts()

Solid               49747
All over pattern    17165
other               14369
Melange              5938
Stripe               4990
Denim                4842
Front print          3215
Placement print      3098
Check                2178
Name: modified_graphical_appearance, dtype: int64

In [75]:
temp = df_art['product_group_name'].value_counts() <= 2000
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_product_group"] = df_art["product_group_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_product_group'].value_counts()

Garment Upper body    42741
Garment Lower body    19812
Garment Full body     13292
Accessories           11158
Underwear              5490
Shoes                  5283
Swimwear               3127
Socks & Tights         2442
other                  2197
Name: modified_product_group, dtype: int64

In [76]:
temp = df_art['section_name'].value_counts() <= 3328
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_section"] = df_art["section_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_section'].value_counts()

other                            67359
Womens Everyday Collection        7295
Divided Collection                7124
Baby Essentials & Complements     4932
Kids Girl                         4469
Young Girl                        3899
Womens Lingerie                   3598
Girls Underwear & Basics          3490
Womens Tailoring                  3376
Name: modified_section, dtype: int64

In [77]:
temp = df_art['garment_group_name'].value_counts() <= 4874
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_garment_group"] = df_art["garment_group_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_garment_group'].value_counts()

other                31811
Jersey Fancy         21445
Accessories          11519
Jersey Basic          8126
Knitwear              7490
Under-, Nightwear     7441
Trousers              6727
Blouses               5838
Shoes                 5145
Name: modified_garment_group, dtype: int64

In [78]:
#keeping 20 most frequent
temp = df_art['product_type_name'].value_counts() <= 1320
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_product_type"] = df_art["product_type_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_product_type'].value_counts()

other               26097
Trousers            11169
Dress               10362
Sweater              9302
T-shirt              7904
Top                  4155
Blouse               3979
Jacket               3940
Shorts               3939
Shirt                3405
Vest top             2991
Underwear bottom     2748
Skirt                2696
Hoodie               2356
Bra                  2212
Socks                1889
Leggings/Tights      1878
Sneakers             1621
Cardigan             1550
Hat/beanie           1349
Name: modified_product_type, dtype: int64

In [79]:
df_art.columns

Index(['article_id', 'product_type_name', 'product_group_name',
       'graphical_appearance_name', 'perceived_colour_value_name',
       'index_group_name', 'section_name', 'garment_group_name',
       'modified_graphical_appearance', 'modified_product_group',
       'modified_section', 'modified_garment_group', 'modified_product_type'],
      dtype='object')

In [80]:
df_art.drop(['graphical_appearance_name', 'product_group_name', 'section_name', 'garment_group_name', 'product_type_name'], inplace=True, axis=1)

df_art

,article_id,perceived_colour_value_name,index_group_name,modified_graphical_appearance,modified_product_group,modified_section,modified_garment_group,modified_product_type
0,108775015,Dark,Ladieswear,Solid,Garment Upper body,other,Jersey Basic,Vest top
1,108775044,Light,Ladieswear,Solid,Garment Upper body,other,Jersey Basic,Vest top
2,108775051,Dusty Light,Ladieswear,Stripe,Garment Upper body,other,Jersey Basic,Vest top
3,110065001,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear",Bra
4,110065002,Light,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear",Bra
...,...,...,...,...,...,...,...,...
105537,953450001,Dark,Menswear,Placement print,Socks & Tights,other,other,Socks
105538,953763001,Dark,Ladieswear,Solid,Garment Upper body,other,Jersey Fancy,Vest top
105539,956217002,Dark,Ladieswear,Solid,Garment Full body,other,Jersey Fancy,Dress
105540,957375001,Dark,Divided,Solid,Accessories,other,Accessories,other
105541,959461001,Dusty Light,Ladieswear,Solid,Garment Full body,other,Jersey Fancy,Dress

# CUSTOMER

In [235]:
df_customer = pd.read_csv('customers.csv')
df_customer

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [236]:
df_customer.columns

Index(['customer_id', 'FN', 'Active', 'club_member_status',
       'fashion_news_frequency', 'age', 'postal_code'],
      dtype='object')

In [237]:
df_cust = df_customer

df_cust.drop(['FN', 'fashion_news_frequency', 'postal_code'], inplace=True, axis=1)

df_cust

,customer_id,Active,club_member_status,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,ACTIVE,49.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,ACTIVE,25.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,ACTIVE,24.0
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,ACTIVE,54.0
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,ACTIVE,52.0
...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,ACTIVE,24.0
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,ACTIVE,21.0
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,ACTIVE,21.0
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,ACTIVE,18.0
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,PRE-CREATE,65.0

In [238]:
df_cust['club_member_status'] = df_cust['club_member_status'].fillna('N/A')

In [239]:
df_cust['Active'] = df_cust['Active'].fillna(0)
df_cust["age"] = df_cust["age"].fillna(df_cust["age"].mean())

In [240]:
df_cust = pd.concat([df_cust.drop(columns=["club_member_status"]), pd.get_dummies(df_cust["club_member_status"])], axis=1)

# TRANSACTION

In [34]:
import pandas
import random

n = 31788324 #number of records in file
s = 500000 #desired sample size
skip = sorted(random.sample(range(n),n-s))

In [35]:
skip.pop(0)

0

In [39]:
df_transaction = pd.read_csv('transactions_train.csv', skiprows=skip)
df_transaction

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2
1,2018-09-20,00ffed0316ae807cb9439799d73cd61fd7f6479a0f9a19...,641741001,0.078203,2
2,2018-09-20,0115586b1ca570d4a4ef16b9a8e1cf62c9d519d43edc0b...,675319001,0.050831,1
3,2018-09-20,01959be607170cc2f092ee8fd13eda251b13cde70ef38d...,591334019,0.015237,1
4,2018-09-20,01959be607170cc2f092ee8fd13eda251b13cde70ef38d...,673677002,0.015237,1
...,...,...,...,...,...
499996,2020-09-22,fd2656196657c7f6a9aedf5361f813ed589b7cc5a116ca...,898713001,0.067780,2
499997,2020-09-22,fd3f2f3aa5652dcb2b7b4510f6f6f01038015c55650cf2...,908081004,0.042356,2
499998,2020-09-22,fd5ce8716faf00f6a83616f609e0403ac516727d4ca4aa...,807775001,0.033881,2
499999,2020-09-22,fecdc25332296b2610293650f0ea443cdf39fe2ecd3d89...,546579001,0.004390,1
500000,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [40]:
# df_transaction[["day", "month", "year"]] = df_transaction["t_dat"].str.split("-", expand = True)
# df_transaction

,t_dat,customer_id,article_id,price,sales_channel_id,day,month,year
0,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2,2018,09,20
1,2018-09-20,00ffed0316ae807cb9439799d73cd61fd7f6479a0f9a19...,641741001,0.078203,2,2018,09,20
2,2018-09-20,0115586b1ca570d4a4ef16b9a8e1cf62c9d519d43edc0b...,675319001,0.050831,1,2018,09,20
3,2018-09-20,01959be607170cc2f092ee8fd13eda251b13cde70ef38d...,591334019,0.015237,1,2018,09,20
4,2018-09-20,01959be607170cc2f092ee8fd13eda251b13cde70ef38d...,673677002,0.015237,1,2018,09,20
...,...,...,...,...,...,...,...,...
499996,2020-09-22,fd2656196657c7f6a9aedf5361f813ed589b7cc5a116ca...,898713001,0.067780,2,2020,09,22
499997,2020-09-22,fd3f2f3aa5652dcb2b7b4510f6f6f01038015c55650cf2...,908081004,0.042356,2,2020,09,22
499998,2020-09-22,fd5ce8716faf00f6a83616f609e0403ac516727d4ca4aa...,807775001,0.033881,2,2020,09,22
499999,2020-09-22,fecdc25332296b2610293650f0ea443cdf39fe2ecd3d89...,546579001,0.004390,1,2020,09,22
500000,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2,2020,09,22

## Converting t-dat to Datetime in Transactions Dataset

In [42]:
# df_transaction.drop(['t_dat'], inplace=True, axis=1)
df_transaction["t_dat"] = pd.to_datetime(df_transaction["t_dat"])

In [23]:
# df_cust_trans = df_transaction.merge(df_cust, on=["customer_id"], how="inner")
# df_cust_trans

,customer_id,article_id,price,sales_channel_id,day,month,year,Active,club_member_status,age
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,20,0.0,ACTIVE,24.0
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018,09,20,0.0,ACTIVE,24.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,24,0.0,ACTIVE,24.0
3,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,578020002,0.013542,2,2019,03,01,0.0,ACTIVE,24.0
4,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,723529001,0.025407,2,2020,02,03,0.0,ACTIVE,24.0
...,...,...,...,...,...,...,...,...,...,...
31788319,fee56cc5315dafb35a4490ccc6f711092cae913550c832...,903647001,0.050831,2,2020,09,22,1.0,ACTIVE,53.0
31788320,fee56cc5315dafb35a4490ccc6f711092cae913550c832...,903647001,0.050831,2,2020,09,22,1.0,ACTIVE,53.0
31788321,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,913597001,0.042356,2,2020,09,22,0.0,ACTIVE,19.0
31788322,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,903420001,0.033881,2,2020,09,22,0.0,ACTIVE,19.0
31788323,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,761406001,0.025407,2,2020,09,22,0.0,ACTIVE,19.0

## Merging Tranactions with Articles

In [81]:
df_combined = df_transaction.merge(df_art, on=["article_id"], how="inner")
df_combined

,t_dat,customer_id,article_id,price,sales_channel_id,day,month,year,perceived_colour_value_name,index_group_name,modified_graphical_appearance,modified_product_group,modified_section,modified_garment_group,modified_product_type
0,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top
1,2018-09-20,01d106a0b45ae7f169b3233d332bf325c80c24d4d160ed...,692454002,0.024559,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top
2,2018-09-20,372fbfac68e3d45e5ce0c2ae29062fd40b0d90e6b49678...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top
3,2018-09-20,97e12fdeea026e7655105f38bb6c61e7d3cbbe5387a08b...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top
4,2018-09-20,acf7c628e9396e5a73da26cf0333b2f6cf8d763eeb1864...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2020-09-22,d7b6ceed79f5bf84b6ce9088cbdb9569c3b63176ff873a...,714714014,0.033881,2,2020,09,22,Dusty Light,Baby/Children,Solid,Garment Lower body,Baby Essentials & Complements,Jersey Basic,Leggings/Tights
499997,2020-09-22,eda321b4977977249e14a81974333784fcf256bbc58673...,926825001,0.033881,2,2020,09,22,Dark,Divided,Solid,Garment Lower body,Divided Collection,Trousers,Trousers
499998,2020-09-22,eec82f1ebd6e9a8f04b03e087c6a68f38b3801c4f227f7...,934053001,0.042356,2,2020,09,22,Dark,Ladieswear,Solid,Garment Upper body,Womens Everyday Collection,Knitwear,Sweater
499999,2020-09-22,fa3bad88fa8a29748f2a178f3d2cb7376e97cd033a52b6...,830100003,0.030492,1,2020,09,22,Light,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear",Bra
500000,2020-09-22,fd5ce8716faf00f6a83616f609e0403ac516727d4ca4aa...,807775001,0.033881,2,2020,09,22,Dark,Menswear,Solid,Garment Lower body,other,Trousers,Trousers

In [85]:
# for each customer find a random date to base the data point from
random_time = df_combined[df_combined.t_dat < "2020-09-15"].groupby("customer_id").agg({"t_dat": lambda x: x.sample(1)})

In [87]:
random_time.head()

                                                        t_dat
customer_id
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d... 2019-09-28
0000423b00ade91418cceaf3b26c6af3dd342b51fd051ee... 2019-07-05
00009d946eec3ea54add5ba56d5210ea898def4b46c6857... 2019-04-09
0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c919... 2018-12-07
0001076e215991bad544dd3e7312f78d9f576a1cc3ddc40... 2019-02-12

In [89]:
random_time = random_time.rename(columns={"t_dat": "pivot"}).reset_index()

## Merging Pivot Dates with Combined (Transaction+Articles) Dataset

In [90]:
df_combined_random = df_combined.merge(random_time, on="customer_id")

In [91]:
df_combined_random.head()

,t_dat,customer_id,article_id,price,sales_channel_id,day,month,year,perceived_colour_value_name,index_group_name,modified_graphical_appearance,modified_product_group,modified_section,modified_garment_group,modified_product_type,pivot
0,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top,2018-09-20
1,2018-09-20,01d106a0b45ae7f169b3233d332bf325c80c24d4d160ed...,692454002,0.024559,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top,2018-10-11
2,2018-10-11,01d106a0b45ae7f169b3233d332bf325c80c24d4d160ed...,665481004,0.040661,2,2018,10,11,Dark,Ladieswear,All over pattern,Garment Full body,Womens Tailoring,Jersey Fancy,Dress,2018-10-11
3,2019-04-24,01d106a0b45ae7f169b3233d332bf325c80c24d4d160ed...,690950015,0.007102,1,2019,04,24,Light,Baby/Children,Stripe,Garment Full body,Kids Girl,Jersey Fancy,Dress,2018-10-11
4,2018-09-20,372fbfac68e3d45e5ce0c2ae29062fd40b0d90e6b49678...,692454002,0.025407,2,2018,09,20,Dark,Ladieswear,other,Garment Upper body,Womens Everyday Collection,other,Top,2019-05-21

In [93]:
# converting sales channel id to text to be able to do the one hot encoding
df_combined_random.sales_channel_id = df_combined_random.sales_channel_id.astype(str)

In [164]:
# columns that are used to featurize the clients
feature_columns = ["sales_channel_id", "perceived_colour_value_name",
            "index_group_name", "modified_graphical_appearance",
            "modified_product_group", "modified_section", "modified_garment_group",
            "modified_product_type"
           ]
# Forming the names of columns after one-hot-encoding
dummy_cols = []
for col in feature_columns:
    dummy_cols.extend([col + "_" + x for x in df_combined_random[col].unique()])
all_article_ids = list(df_article.article_id.unique())

In [202]:
# for each customer look at the transactions before the pivot time and find the characteristics of those transactions to
# get an understanding of what the customer likes, for example, what fraction of the articles the customer bought are
# dark. Then look at the 7 day period after the pivot time and consider the articles that the customer bought as positive
# target and sample randomly some articles that the customer never bought in their history as negative targets. Sample
# as many negative targets as there are positive ones
def process(df):
    before = df[df["t_dat"] <= df["pivot"]]
    before_7d = df[(df["t_dat"] <= df["pivot"]) & (df["t_dat"] > df["pivot"] - pd.Timedelta(7, "days"))]
    after = df[(df["t_dat"] > df["pivot"]) & (df["t_dat"] < df["pivot"] + pd.Timedelta(7, "days"))]
    after["label"] = 1
    after = after[["article_id", "label"]]
    if len(after) == 0:
        return None
    negs = random.sample(all_article_ids,len(after))
    negs = [i for i in negs if i not in df.article_id]
    negs_df = after.copy()
    negs_df["article_id"] = negs
    negs_df["label"] = 0
    after = pd.concat([after, negs_df], axis=0)
    means = pd.get_dummies(before[feature_columns]).mean(axis=0)
    means["avg_price"] = before["price"].mean()
    means_df = means.to_frame().transpose()
    means_df = means_df.reindex(columns=dummy_cols).fillna(0.0)
    means_df["num_purchase"] = len(before)
    # 7d calculations
    means_7d = pd.get_dummies(before_7d[feature_columns]).mean(axis=0)
    means_df_7d = means_7d.to_frame().transpose()
    means_df_7d.columns = means_df_7d.columns + "_7d"
    means_df_7d = means_df_7d.reindex(columns=[col + "_7d" for col in dummy_cols]).fillna(0.0)
    means_df_7d["num_purchase_7d"] = len(before_7d)
    means_df_7d["avg_price_7d"] = before_7d["price"].mean()
    means_df_combined = pd.concat([means_df, means_df_7d.fillna(0)], axis=1)
    combined = pd.concat([means_df_combined] * len(after), axis=0)
    combined["article_id"] = after["article_id"].values
    combined["label"] = after["label"].values
    
    return combined.reset_index(drop=True)

In [241]:
%%time
final_data = df_combined_random.sample(100000).groupby("customer_id").apply(process).reset_index(level=1, drop=True).reset_index()

CPU times: user 5min 20s, sys: 1.29 s, total: 5min 21s
Wall time: 5min 22s

In [210]:
final_data

,customer_id,sales_channel_id_2,sales_channel_id_1,perceived_colour_value_name_Dark,perceived_colour_value_name_Light,perceived_colour_value_name_Medium Dusty,perceived_colour_value_name_Dusty Light,perceived_colour_value_name_Bright,perceived_colour_value_name_Medium,perceived_colour_value_name_Unknown,...,modified_product_type_Jacket_7d,modified_product_type_T-shirt_7d,modified_product_type_Underwear bottom_7d,modified_product_type_Shorts_7d,modified_product_type_Cardigan_7d,modified_product_type_Hat/beanie_7d,num_purchase_7d,avg_price_7d,article_id,label
0,2d4a7b5feb30e3b814c8fc20b651e88eba4b01a401b67c...,1.0,0.0,0.428571,0.285714,0.0,0.142857,0.0,0.142857,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0.024277,660599013,1
1,2d4a7b5feb30e3b814c8fc20b651e88eba4b01a401b67c...,1.0,0.0,0.428571,0.285714,0.0,0.142857,0.0,0.142857,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0.024277,604446001,0
2,4641022f4b2afc8fc4daeafcdeb1e36095915807d0bb35...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.025407,613246001,1
3,4641022f4b2afc8fc4daeafcdeb1e36095915807d0bb35...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.025407,857328006,0
4,889e57c86093cc2b53e2fa9f4e13b9e475253683e4adad...,0.0,1.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.032559,591334019,1
5,889e57c86093cc2b53e2fa9f4e13b9e475253683e4adad...,0.0,1.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.032559,703766002,0
6,8b2f5842d1e9c6247f724b59070dcb71f3e827b8fd5489...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.016932,591334019,1
7,8b2f5842d1e9c6247f724b59070dcb71f3e827b8fd5489...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.016932,696780003,0
8,b0d9150c87354ecb1d2ba78ce391b5ad73cdbb4c40738b...,1.0,0.0,0.666667,0.000000,0.0,0.333333,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.006390,681657010,1
9,b0d9150c87354ecb1d2ba78ce391b5ad73cdbb4c40738b...,1.0,0.0,0.666667,0.000000,0.0,0.333333,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.006390,698436001,0
10,c7a9625f7757934cf4f1914116c185641df0f5374a4d9a...,1.0,0.0,0.800000,0.200000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.016932,777628002,1
11,c7a9625f7757934cf4f1914116c185641df0f5374a4d9a...,1.0,0.0,0.800000,0.200000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.016932,868057001,0
12,dac89134202fe2360ea6ef60e664580a9601f9c3cdcb0a...,1.0,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0.021797,694153005,1
13,dac89134202fe2360ea6ef60e664580a9601f9c3cdcb0a...,1.0,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0.021797,651787001,0
14,f890a5893f598aa9cdf665300546dccf87a740bc3d53c9...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.033881,673677002,1
15,f890a5893f598aa9cdf665300546dccf87a740bc3d53c9...,1.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.033881,720810005,0

In [211]:
one_hot_article = pd.get_dummies(df_article[feature_columns[1:]])

In [212]:
one_hot_article["article_id"] = df_article["article_id"]
one_hot_article.columns = one_hot_article.columns + "_target"

In [242]:
final_data_ = final_data.merge(df_customer, on="customer_id").merge(one_hot_article, left_on="article_id", right_on="article_id_target")

In [243]:
final_data_ = final_data_.drop(columns=["article_id_target", "article_id"])

In [245]:
final_data_

,customer_id,sales_channel_id_2,sales_channel_id_1,perceived_colour_value_name_Dark,perceived_colour_value_name_Light,perceived_colour_value_name_Medium Dusty,perceived_colour_value_name_Dusty Light,perceived_colour_value_name_Bright,perceived_colour_value_name_Medium,perceived_colour_value_name_Unknown,...,modified_product_type_Skirt_target,modified_product_type_Sneakers_target,modified_product_type_Socks_target,modified_product_type_Sweater_target,modified_product_type_T-shirt_target,modified_product_type_Top_target,modified_product_type_Trousers_target,modified_product_type_Underwear bottom_target,modified_product_type_Vest top_target,modified_product_type_other_target
0,0102139e1625a8ec251452694d070f1b37d8ecf58852fd...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0102139e1625a8ec251452694d070f1b37d8ecf58852fd...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,010ffdd4cbe8bbfaa543ed57cee50201e37e12dda5d6b3...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,010ffdd4cbe8bbfaa543ed57cee50201e37e12dda5d6b3...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
4,02b73336ea2fbd1ebcf9137ba5a61a429187a5f5fd174e...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,fd87aba0921acfaf04f75fca5a9a8c569dad62de69f8d6...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
886,ff6ae3b27eca5ab919c91c88a081b85fd8d587e8e9141d...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
887,ff6ae3b27eca5ab919c91c88a081b85fd8d587e8e9141d...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
888,ff712d5b76b0ff1ca1c3e37e8e3f3495f90c28b385cb4e...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
889,ff712d5b76b0ff1ca1c3e37e8e3f3495f90c28b385cb4e...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

## Training

In [246]:
from sklearn.model_selection import train_test_split

In [247]:
X = final_data.drop(columns=["label", "customer_id"])
y = final_data["label"]
X_tr, X_val, y_tr, y_val = train_test_split(X, y, test_size=0.1)

In [248]:
from sklearn.ensemble import RandomForestClassifier

In [263]:
from sklearn.linear_model import LogisticRegression

In [266]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [253]:
model = RandomForestClassifier(1000)
model.fit(X_tr, y_tr)

RandomForestClassifier(n_estimators=1000)

In [264]:
model = LogisticRegression()
model.fit(X_tr, y_tr)

LogisticRegression()

In [267]:
model = BaggingClassifier(DecisionTreeClassifier())
model.fit(X_tr, y_tr)

BaggingClassifier(base_estimator=DecisionTreeClassifier())

In [268]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, model.predict(X_val))

0.4606741573033708

In [256]:
y_val.mean()

0.42696629213483145

In [259]:
model.predict(X_val)

array([0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0])