In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandasql import sqldf

df_article = pd.read_csv('h-and-m-personalized-fashion-recommendations/articles.csv')
df_article

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [2]:
df_article.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [3]:
df_art = df_article

df_art.drop(['product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'graphical_appearance_no', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'section_no', 'garment_group_no', 'detail_desc'], inplace=True, axis=1)

df_art

,article_id,product_group_name,graphical_appearance_name,perceived_colour_value_name,index_group_name,section_name,garment_group_name
0,108775015,Garment Upper body,Solid,Dark,Ladieswear,Womens Everyday Basics,Jersey Basic
1,108775044,Garment Upper body,Solid,Light,Ladieswear,Womens Everyday Basics,Jersey Basic
2,108775051,Garment Upper body,Stripe,Dusty Light,Ladieswear,Womens Everyday Basics,Jersey Basic
3,110065001,Underwear,Solid,Dark,Ladieswear,Womens Lingerie,"Under-, Nightwear"
4,110065002,Underwear,Solid,Light,Ladieswear,Womens Lingerie,"Under-, Nightwear"
...,...,...,...,...,...,...,...
105537,953450001,Socks & Tights,Placement print,Dark,Menswear,Men Underwear,Socks and Tights
105538,953763001,Garment Upper body,Solid,Dark,Ladieswear,H&M+,Jersey Fancy
105539,956217002,Garment Full body,Solid,Dark,Ladieswear,Womens Trend,Jersey Fancy
105540,957375001,Accessories,Solid,Dark,Divided,Divided Accessories,Accessories
105541,959461001,Garment Full body,Solid,Dusty Light,Ladieswear,Womens Trend,Jersey Fancy

In [4]:
df_art['graphical_appearance_name'].value_counts()

Solid                  49747
All over pattern       17165
Melange                 5938
Stripe                  4990
Denim                   4842
Front print             3215
Placement print         3098
Check                   2178
Colour blocking         1830
Lace                    1513
Other structure         1502
Application/3D          1341
Embroidery              1165
Mixed solid/pattern     1132
Glittering/Metallic      958
Jacquard                 830
Sequin                   806
Dot                      681
Treatment                586
Other pattern            515
Contrast                 376
Metallic                 346
Chambray                 322
Slub                     153
Transparent               86
Mesh                      86
Neps                      66
Unknown                   52
Argyle                    15
Hologram                   8
Name: graphical_appearance_name, dtype: int64

In [5]:
df_art['product_group_name'].value_counts()

Garment Upper body       42741
Garment Lower body       19812
Garment Full body        13292
Accessories              11158
Underwear                 5490
Shoes                     5283
Swimwear                  3127
Socks & Tights            2442
Nightwear                 1899
Unknown                    121
Underwear/nightwear         54
Cosmetic                    49
Bags                        25
Items                       17
Furniture                   13
Garment and Shoe care        9
Stationery                   5
Interior textile             3
Fun                          2
Name: product_group_name, dtype: int64

In [6]:
df_art['section_name'].value_counts()

Womens Everyday Collection        7295
Divided Collection                7124
Baby Essentials & Complements     4932
Kids Girl                         4469
Young Girl                        3899
Womens Lingerie                   3598
Girls Underwear & Basics          3490
Womens Tailoring                  3376
Kids Boy                          3328
Womens Small accessories          3270
Womens Casual                     2725
Kids Outerwear                    2665
Womens Trend                      2622
Divided Projects                  2364
Young Boy                         2352
H&M+                              2337
Men Underwear                     2322
Mama                              2266
Kids & Baby Shoes                 2142
Boys Underwear & Basics           2034
Womens Shoes                      2026
Ladies H&M Sport                  1894
Womens Swimwear, beachwear        1839
Contemporary Smart                1778
Baby Girl                         1760
Divided Accessories               1732
Kids Accessories, Swimwear & D    1731
Divided Basics                    1723
Baby Boy                          1717
Womens Big accessories            1665
Womens Everyday Basics            1581
Womens Nightwear, Socks & Tigh    1566
Contemporary Casual               1560
Contemporary Street               1490
Men Suits & Tailoring             1428
Men Accessories                   1337
Womens Premium                    1270
Ladies Denim                      1101
Divided Selected                   991
Men H&M Sport                      872
Womens Jackets                     829
Special Collections                682
Men Shoes                          645
Mens Outerwear                     629
Kids Sports                        626
Collaborations                     559
Denim Men                          521
Men Edition                        330
Men Project                        298
Divided Asia keys                  280
Kids Local Relevance               192
Men Other 2                        190
Divided Complements Other           35
EQ Divided                          26
Men Other                           25
Ladies Other                         4
Name: section_name, dtype: int64

In [7]:
df_art['garment_group_name'].value_counts()

Jersey Fancy                     21445
Accessories                      11519
Jersey Basic                      8126
Knitwear                          7490
Under-, Nightwear                 7441
Trousers                          6727
Blouses                           5838
Shoes                             5145
Dresses Ladies                    4874
Outdoor                           4501
Unknown                           3873
Trousers Denim                    3100
Swimwear                          2787
Socks and Tights                  2272
Shirts                            2116
Woven/Jersey/Knitted mix Baby     1965
Shorts                            1559
Dresses/Skirts girls              1541
Skirts                            1254
Special Offers                    1061
Dressed                            908
Name: garment_group_name, dtype: int64

In [8]:
temp = df_art['graphical_appearance_name'].value_counts() <= 2000
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_graphical_appearance"] = df_art["graphical_appearance_name"].apply(lambda x : 'other' if x in mask else x)

In [9]:
df_art['modified_graphical_appearance'].value_counts()

Solid               49747
All over pattern    17165
other               14369
Melange              5938
Stripe               4990
Denim                4842
Front print          3215
Placement print      3098
Check                2178
Name: modified_graphical_appearance, dtype: int64

In [10]:
temp = df_art['product_group_name'].value_counts() <= 2000
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_product_group"] = df_art["product_group_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_product_group'].value_counts()

Garment Upper body    42741
Garment Lower body    19812
Garment Full body     13292
Accessories           11158
Underwear              5490
Shoes                  5283
Swimwear               3127
Socks & Tights         2442
other                  2197
Name: modified_product_group, dtype: int64

In [11]:
temp = df_art['section_name'].value_counts() <= 3328
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_section"] = df_art["section_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_section'].value_counts()

other                            67359
Womens Everyday Collection        7295
Divided Collection                7124
Baby Essentials & Complements     4932
Kids Girl                         4469
Young Girl                        3899
Womens Lingerie                   3598
Girls Underwear & Basics          3490
Womens Tailoring                  3376
Name: modified_section, dtype: int64

In [12]:
temp = df_art['garment_group_name'].value_counts() <= 4874
temp = temp.loc[temp]
mask = set(temp.index)
df_art["modified_garment_group"] = df_art["garment_group_name"].apply(lambda x : 'other' if x in mask else x)

df_art['modified_garment_group'].value_counts()

other                31811
Jersey Fancy         21445
Accessories          11519
Jersey Basic          8126
Knitwear              7490
Under-, Nightwear     7441
Trousers              6727
Blouses               5838
Shoes                 5145
Name: modified_garment_group, dtype: int64

In [13]:
df_art.columns

Index(['article_id', 'product_group_name', 'graphical_appearance_name',
       'perceived_colour_value_name', 'index_group_name', 'section_name',
       'garment_group_name', 'modified_graphical_appearance',
       'modified_product_group', 'modified_section', 'modified_garment_group'],
      dtype='object')

In [14]:
df_art.drop(['graphical_appearance_name', 'product_group_name', 'section_name', 'garment_group_name'], inplace=True, axis=1)

df_art

,article_id,perceived_colour_value_name,index_group_name,modified_graphical_appearance,modified_product_group,modified_section,modified_garment_group
0,108775015,Dark,Ladieswear,Solid,Garment Upper body,other,Jersey Basic
1,108775044,Light,Ladieswear,Solid,Garment Upper body,other,Jersey Basic
2,108775051,Dusty Light,Ladieswear,Stripe,Garment Upper body,other,Jersey Basic
3,110065001,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
4,110065002,Light,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
...,...,...,...,...,...,...,...
105537,953450001,Dark,Menswear,Placement print,Socks & Tights,other,other
105538,953763001,Dark,Ladieswear,Solid,Garment Upper body,other,Jersey Fancy
105539,956217002,Dark,Ladieswear,Solid,Garment Full body,other,Jersey Fancy
105540,957375001,Dark,Divided,Solid,Accessories,other,Accessories
105541,959461001,Dusty Light,Ladieswear,Solid,Garment Full body,other,Jersey Fancy

# CUSTOMER

In [15]:
df_customer = pd.read_csv('h-and-m-personalized-fashion-recommendations/customers.csv')
df_customer

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [16]:
df_customer.columns

Index(['customer_id', 'FN', 'Active', 'club_member_status',
       'fashion_news_frequency', 'age', 'postal_code'],
      dtype='object')

In [17]:
df_cust = df_customer

df_cust.drop(['FN', 'fashion_news_frequency', 'postal_code'], inplace=True, axis=1)

df_cust

,customer_id,Active,club_member_status,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,ACTIVE,49.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,ACTIVE,25.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,ACTIVE,24.0
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,ACTIVE,54.0
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,ACTIVE,52.0
...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,ACTIVE,24.0
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,ACTIVE,21.0
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,ACTIVE,21.0
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,ACTIVE,18.0
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,PRE-CREATE,65.0

In [18]:
df_customer[['club_member_status']] = df_customer[['club_member_status']].fillna('N/A')
df_cust[['club_member_status']] = df_cust[['club_member_status']].fillna('N/A')

In [19]:
df_customer[['Active']] = df_customer[['Active']].fillna(0)
df_cust[['Active']] = df_cust[['Active']].fillna(0)

# TRANSACTION

In [20]:
df_transaction = pd.read_csv('h-and-m-personalized-fashion-recommendations/transactions_train.csv')
df_transaction

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [21]:
df_transaction[["day", "month", "year"]] = df_transaction["t_dat"].str.split("-", expand = True)
df_transaction

,t_dat,customer_id,article_id,price,sales_channel_id,day,month,year
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,20
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018,09,20
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018,09,20
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018,09,20
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018,09,20
...,...,...,...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2,2020,09,22
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2,2020,09,22
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1,2020,09,22
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1,2020,09,22
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2,2020,09,22

In [22]:
df_transaction.drop(['t_dat'], inplace=True, axis=1)

In [23]:
df_cust_trans = df_transaction.merge(df_cust, on=["customer_id"], how="inner")
df_cust_trans

,customer_id,article_id,price,sales_channel_id,day,month,year,Active,club_member_status,age
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,20,0.0,ACTIVE,24.0
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018,09,20,0.0,ACTIVE,24.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,24,0.0,ACTIVE,24.0
3,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,578020002,0.013542,2,2019,03,01,0.0,ACTIVE,24.0
4,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,723529001,0.025407,2,2020,02,03,0.0,ACTIVE,24.0
...,...,...,...,...,...,...,...,...,...,...
31788319,fee56cc5315dafb35a4490ccc6f711092cae913550c832...,903647001,0.050831,2,2020,09,22,1.0,ACTIVE,53.0
31788320,fee56cc5315dafb35a4490ccc6f711092cae913550c832...,903647001,0.050831,2,2020,09,22,1.0,ACTIVE,53.0
31788321,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,913597001,0.042356,2,2020,09,22,0.0,ACTIVE,19.0
31788322,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,903420001,0.033881,2,2020,09,22,0.0,ACTIVE,19.0
31788323,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,761406001,0.025407,2,2020,09,22,0.0,ACTIVE,19.0

In [25]:
df_combined = df_cust_trans.merge(df_art, on=["article_id"], how="inner")
df_combined

,customer_id,article_id,price,sales_channel_id,day,month,year,Active,club_member_status,age,perceived_colour_value_name,index_group_name,modified_graphical_appearance,modified_product_group,modified_section,modified_garment_group
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,20,0.0,ACTIVE,24.0,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,09,24,0.0,ACTIVE,24.0,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
2,1385e5f3a2d3dbd21237f91faf81254a6d96de31b07b0b...,663713001,0.050831,2,2018,11,05,0.0,ACTIVE,25.0,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
3,1385e5f3a2d3dbd21237f91faf81254a6d96de31b07b0b...,663713001,0.050831,2,2018,11,05,0.0,ACTIVE,25.0,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
4,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,2018,09,20,1.0,ACTIVE,30.0,Dark,Ladieswear,Solid,Underwear,Womens Lingerie,"Under-, Nightwear"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31788319,39e3a68996f1b02fc97157c978e23bf5ada4b43541ef8b...,886270008,0.045746,2,2020,09,22,0.0,ACTIVE,50.0,Medium Dusty,Divided,Denim,Garment Lower body,other,other
31788320,39e3a68996f1b02fc97157c978e23bf5ada4b43541ef8b...,886270008,0.045746,2,2020,09,22,0.0,ACTIVE,50.0,Medium Dusty,Divided,Denim,Garment Lower body,other,other
31788321,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,860135008,0.038119,1,2020,09,22,1.0,ACTIVE,36.0,Medium Dusty,Menswear,Check,Garment Upper body,other,other
31788322,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028,0.016017,1,2020,09,22,1.0,ACTIVE,36.0,Bright,Baby/Children,All over pattern,Garment Upper body,other,Jersey Basic
31788323,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028,0.016000,1,2020,09,22,1.0,ACTIVE,36.0,Bright,Baby/Children,All over pattern,Garment Upper body,other,Jersey Basic